body{
 background-color: #141414ff;
 color: #ffffffff;
 min-height: 100vh;
 font-family: "Inter", sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 20px;
}

.info {
 text-align: center;
}

.personal-profile{
 background-color: #1f1f1fff;
 border-radius: 10px;
 width: 100%;
 border: 1px solid #1f1f1fff;
 max-width: 250px;
 padding: 32px;
 font-size: 14px;
}

.profile-image{
 border-radius: 50%;
 width: 80px;
 height: 80px;
}

.name {
 font-weight: 700;
 font-size: 20px;
 margin-bottom : -6px;
}

.country {
 font-size: 12px;
 color: #c5f82aff;
 font-weight: 600;
 margin-bottom: 24px;
}

.description {
  font-size : 12px;
  margin-bottom: 24px;
}

ul{
 padding: 0;
 margin: 0;
 list-style: none;
}

.btn{
 text-decoration : none;
 color: #ffffffff;
 font-size: 12px;
 font-weight: 600;
}

.btn-primary {
 background-color: #333333ff;
 width: 100%;
 border-radius : 5px;
 padding: 12px 0px;
 display:block;
 margin: 12px 0;
 text-align: center;
}

.btn-primary:hover, .btn-primary:active {
 background-color: #c5f82aff;
 color: #141414ff;
}