body {
  background-color: #f2ebe3ff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  flex-direction: column;  /* for attribution to go down */
  gap: 20px;               /* for attribution to go down */
}

.product-card {
  background-color: #ffffffff;
  border: 0px solid #ffffffff;
  width: 500px;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  width: 50%;
  height: 100%;
  display: block;
}

.product-info {
  width: 50%;
  padding: 20px 30px;
  color: #6c7289ff;
  
}

.product-label {
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.product-title {
  font-family: 'Fraunces', serif;
  font-size: 28px;
  color: #1c232bff;
  margin: 0 0 15px 0;
  line-height: 1;
  font-weight: 700;
}

.product-desc{
 font-size: 12px;
 font-weight: 400;
 margin: 0 0 30px 0;
}

.price-div{
 display: flex;
 margin-bottom: 25px;
}

.price {
 font-family: 'Fraunces', serif;
 font-size: 28px;
 margin: 0px 15px 0px 0px;
 color: #3c8067ff;
 font-weight: 700;
}

.price-sm{
 font-size: 12px;
 margin-top: 10px;
}

.btn{
 text-decoration: none;
 background-color: #3c8067ff;
 width: 100%;
 border-radius: 5px;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 color: #ffffff;
 font-size: 12px;
 font-weight: 700;
}

.btn-icon {
  width: 14px;
  height: 14px;
}

.btn:hover{
 background-color: #1b4133ff;
}